In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rahul\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\rahul\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: cffi>=1.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\rahul\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\rahul\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\rahul\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\rahul\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\rahul\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rahul\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
# finding web element for search job bar using id
search_job =driver.find_element_by_class_name('suggestor-input')
search_job

In [6]:
# write on search bar
search_job.send_keys('Data Analyst')

In [7]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [8]:
# finding web element for job location bar
search_locn.send_keys('Bangalore')

In [9]:
# clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

In [11]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
salary_check.click()

In [12]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="54d803ec-ebe8-4a9e-9a11-886c9c26f1a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="0a35c32e-3351-4466-b5a3-65ca2161d43a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="43718e25-f2b1-444f-a9b2-6254b4b89865")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="9075ed56-3338-4dfb-b791-83e6b472cc67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="9dbb249b-676e-4444-ae4d-c995b212ae4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="6d55a240-e5a2-4a7f-87dd-6d1dca50378b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="8db0ceb1-e617-4ae2-b1d1-a6809db75f92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="a50613ca-8164-43aa-8825-dc285c990f4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="ce951d40-9f2f-4ab6-ac4d-4c28fc83a0b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="974ddfb6-4a28-4fd3-839e-b64e248a752c")>]

In [13]:
# Now the text of job title is inside the web elements extracted above
#so we will run a for loop to iterate over the tags and will extract
job_titles= []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
title=job_titles[:10]
title

['Hiring For Data Analyst I(SQL & Python)',
 'Data Analyst - 3rd Party Payroll',
 'Data Analyst I',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Looking For Data Analyst - Remote Support',
 'Job openings For Data Analyst - AOA',
 'Senior Data Analyst - Ads & Promotion Platform (APP)']

In [14]:
# Let's extract all web elements having company names.
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="250138e6-33b6-4858-8aac-bb40362e4ca2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="fd8eddec-4e36-45fd-82f5-a6d557c70d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="be68a67c-0b11-4714-ae92-479a19cfdd19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="79981f32-d49f-494f-a8f7-7ce8d785e8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="a7ecf7d5-b2a5-4573-9b68-af289faf90a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="a607d921-ca1c-47df-8844-a9fb18cacc93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="ba92341e-44e8-4ea4-b330-42d5c3b23df4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="cddcd57f-43b4-499e-bfbe-755a03052948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="f4b0a341-4583-400c-b060-0ad7322a5cdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfa8879cfd7777fbeaa4c056b2963d4b", element="fc79ceeb-3754-411d-83e9-edc957f1d46c")>]

In [15]:
#so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)
len(company_names)
company=company_names[:10]
company

['Clario India Pvt Ltd',
 'Flipkart',
 'Cerner',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Locuz Enterprise Solutions Ltd',
 'izmo ltd',
 'Gojek']

In [16]:
#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

19

In [17]:
experience= []

for i in exp_tags:
    experience.append(i.text)
exp1=experience[:10]
exp1

['0-2 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [18]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [19]:
location =[]

for i in locn_tags:
    location.append(i.text)
loc=location[:10]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(4th Phase JP Nagar)',
 'Bangalore/Bengaluru']

In [20]:
len(title),len(company),len(exp1),len(loc)

(10, 10, 10, 10)

In [21]:
jobs =pd.DataFrame()
jobs['Job-Titles']=title
jobs['Company_name']=company
jobs['Experience_required']=exp1
jobs['Job-Location']=loc
jobs

,Job-Titles,Company_name,Experience_required,Job-Location
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
1,Data Analyst - 3rd Party Payroll,Flipkart,2-4 Yrs,Bangalore/Bengaluru
2,Data Analyst I,Cerner,5-10 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
7,Looking For Data Analyst - Remote Support,Locuz Enterprise Solutions Ltd,5-10 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
8,Job openings For Data Analyst - AOA,izmo ltd,2-3 Yrs,Bangalore/Bengaluru(4th Phase JP Nagar)
9,Senior Data Analyst - Ads & Promotion Platform...,Gojek,3-8 Yrs,Bangalore/Bengaluru

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [22]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [23]:
url = 'https://www.naukri.com/'
driver.get(url)

In [24]:
# finding web element for search job bar using id
search_job =driver.find_element_by_class_name('suggestor-input')
search_job

In [25]:
# write on search bar
search_job.send_keys('Data Scientist')

In [26]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [27]:
# finding web element for job location bar
search_locn.send_keys('Bangalore')

In [28]:
# clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [29]:
search_btn.click()

In [30]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
salary_check.click()

In [31]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[:10]

# Now the text of job title is inside the web elements extracted above
#so we will run a for loop to iterate over the tags and will extract
job_titles= []

for i in title_tags:
    job_titles.append(i.text)
title=job_titles[:10]
title

# Let's extract all web elements having company names.
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

#so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)

company=company_names[:10]
company

#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')


experience= []

for i in exp_tags:
    experience.append(i.text)
exp1=experience[:10]
exp1

locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


location =[]

for i in locn_tags:
    location.append(i.text)
loc=location[:10]
loc

len(title),len(company),len(exp1),len(loc)

(10, 10, 10, 10)

In [32]:
# creat Data Frame of the job-title, job-location, company_name, experience_required: 
# Data scientist as DS
jobs =pd.DataFrame()
jobs['Job-Titles']=title
jobs['Company_name']=company
jobs['Experience_required']=exp1
jobs['Job-Location']=loc
jobs

,Job-Titles,Company_name,Experience_required,Job-Location
0,Job openings For Data Analyst - AOA,izmo ltd,2-3 Yrs,Bangalore/Bengaluru(4th Phase JP Nagar)
1,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,0-4 Yrs,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
2,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,5-10 Yrs,Bangalore/Bengaluru(Sadashiva Nagar)
3,Hiring Data Analyst-Coimbatore/Bangalore,KGISL BSS- Division of KG Information System P...,0-2 Yrs,"Coimbatore, Bangalore/Bengaluru"
4,Looking For Data Analyst,Trellance,1-3 Yrs,"Ahmedabad, Bangalore/Bengaluru"
5,Data Analyst || Advance Excel || D Limit || Co...,Inspiration Manpower Consultancy Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
6,Data Analyst,Capillary Technologies,1-2 Yrs,Bangalore/Bengaluru
7,Data Analyst Work FROM Home,Fine Homes and Interior,2-3 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
8,MIS Executive and Analyst | Data Analyst | Dat...,D2 Retro,0-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
9,Data Operations Analyst,epiFi Technologies,0-2 Yrs,Bangalore/Bengaluru

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [33]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [34]:
url = 'https://www.naukri.com/'
driver.get(url)

In [35]:
# finding web element for search job bar using id
search_job =driver.find_element_by_class_name('suggestor-input')
search_job

In [36]:
# write on search bar
search_job.send_keys('Data Scientist')

In [37]:
# clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [38]:
search_btn.click()

In [39]:
filter_btn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]')
filter_btn
filter_btn.click()

In [40]:
filter_btn1 = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
filter_btn1
filter_btn1.click()

In [41]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[:10]

# Now the text of job title is inside the web elements extracted above
#so we will run a for loop to iterate over the tags and will extract
job_titles= []

for i in title_tags:
    job_titles.append(i.text)
title=job_titles[:10]
title

# Let's extract all web elements having company names.
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

#so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)

company=company_names[:10]
company

#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')


experience= []

for i in exp_tags:
    experience.append(i.text)
exp1=experience[:10]
exp1

locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


location =[]

for i in locn_tags:
    location.append(i.text)
loc=location[:10]
loc

len(title),len(company),len(exp1),len(loc)

(10, 10, 10, 10)

In [42]:
# creat Data Frame of the job-title, job-location, company_name, experience_required: 
# Data scientist as DS
jobs =pd.DataFrame()
jobs['Job-Titles']=title
jobs['Company_name']=company
jobs['Experience_required']=exp1
jobs['Job-Location']=loc
jobs

,Job-Titles,Company_name,Experience_required,Job-Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
2,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida"
3,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
4,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
5,Data Scientist,Mount Talent Consulting Private Limited,1-4 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
7,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
8,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
9,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
 1. Brand
 2. Product Description
 3. Price

In [43]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [44]:
url='https://www.flipkart.com/'
driver.get(url)

In [45]:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("Sun Glasses")

In [46]:
# search bar:
search_bar = driver.find_element_by_class_name('L0Z3Pu')
search_bar.click()

In [47]:
#extract data from different pages:
start=0
end=4

#creating a dictionary for storing the information after scraping:

brand = []
price = []
des = []
off = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_class_name('IRpwTa')
    dis=driver.find_elements_by_class_name('_3Ay6Sb')
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [48]:
# all 100 products as per our requirement:
br=brand[0:100]
pr=price[0:100]
pro=des[0:100]
dis=off[0:100]

In [49]:
# creat Data Frame of the Sun Glasses as brand, price, product description and discount:

SunGlasses=pd.DataFrame() 
SunGlasses['Brand']=br
SunGlasses['Product Description'] = pro
SunGlasses['Price']=pr
SunGlasses['Discount']=dis
SunGlasses

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,344",33% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹799,68% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹198,85% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹253,81% off
4,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹474,76% off
...,...,...,...,...
95,LOUIS KOUROS,UV Protection Aviator Sunglasses (60),"₹1,349",89% off
96,ROYAL SON,Polarized Rectangular Sunglasses (60),₹664,82% off
97,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹474,83% off
98,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹702,73% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹799,67% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace

In [50]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [51]:
#passing url:
url='https://www.flipkart.com/search?q=iphone%2011&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url)

In [52]:
#WebElement using xpath:
iphone = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]')
iphone.click()

In [53]:
#extract data from different pages:
start=0
end=12

#creating a dictionary for storing the information after scraping:

rating = []
review = []
full = []

for page in range(start,end):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"or"//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    descp=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in descp:
        full.append(k.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [54]:
# all 100 products as per our requirement:

r=rating[0:100]
w=review[0:100]
d=full[0:100]

In [55]:
# # creat Data Frame of the Rating Fullreview and descreption:
items = {'rating':r,"review":w,"desription":d}
iphone_reviews=pd.DataFrame.from_dict(items , orient='index')
iphone_reviews

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
rating,5,3,5,5,5,5,4,5,5,5,...,5,5,5,5,5,5,3,5,None,None
review,Best in the market!,Decent product,Wonderful,Absolute rubbish!,Iphone 5S review,Worthless,Brilliant,Just wow!,Good quality product,Perfect product!,...,Fabulous!,Mind-blowing purchase,Iphone 5S review,Worthless,Best in the market!,Decent product,Excellent,Must buy!,Classic !!!!,Must buy!
desription,Reviewing after using it\n\n1. Display is supe...,Everything is good. Except battery as it drain...,t\nThe phone feels very premium and smooth and...,battery service very bad ..Battery not working...,Well the iPhone 5S is here ! its the best iPho...,There was defect in camera lens,The Best Phone for the Money\n\nThe iPhone 11 ...,Suuuuuupprrbbb clr... I loved it..,impressively Nice......\nOne of the greatest i...,Nice products thanks flkat,...,Fast performance to previous iPhone x\nGood ca...,This product is very good,Well the iPhone 5S is here ! its the best iPho...,There was defect in camera lens,Reviewing after using it\n\n1. Display is supe...,Everything is good. Except battery as it drain...,awesome\n\nscreen quality better than any othe...,Its doenst need any review i guess so,1.You never gonna feel the quality of this mob...,Still using it in 2019 😂

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [56]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [57]:
url='https://www.flipkart.com/'
driver.get(url)

In [58]:
# search web element for sneaker:
search = driver.find_element_by_class_name("_3704LK")

In [59]:
# search bar:
search.send_keys("sneakers")

In [60]:
# search button using xpath:
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [61]:
#for extracting data from different pages :
start=0
end=3

#creating a dictionary for storing the information after scraping:

brand = []
price = []
des = []
off = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    descp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    prices=driver.find_elements_by_class_name('_30jeq3')
    dis=driver.find_elements_by_class_name('_3Ay6Sb')
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
    for l in dis:
        off.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [62]:
# detail of all 100 products as per our requirement:
bd=brand[0:100]
pr=price[0:100]
dis=des[0:100]
of=off[0:100]

In [63]:
# Data Frame of the Brand, Price, Discount and Discription:
sneakers_info=pd.DataFrame.from_dict({'Brand':bd,"Price":pr,"Description":dis,"Discount":of},  orient='index')
sneakers_info

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Brand,DUNKASTON,World Wear Footwear,BRUTON,Chevit,KWIK FIT,BRUTON,corsac,World Wear Footwear,BRUTON,D-SNEAKERZ,...,BRUTON,RODDICK SHOES,PUMA,HOTSTYLE,CLYMB,HIGHLANDER,URBANBOX,Kraasa,Arohi,ASTEROID
Price,₹343,₹199,₹259,₹649,₹399,₹299,₹449,₹199,₹471,₹299,...,₹399,₹499,₹435,₹397,₹499,₹399,"₹3,346",₹399,₹399,₹399
Description,Sneakers For Men,Sneakers For Men,Modern Trendy Sneakers Shoes Sneakers For Men,Super Stylish & Trendy Combo Pack of 02 Pairs ...,Kwik FIT casual sneaker shoes and partywear sh...,Sneaker Sneakers For Men,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,5011-Latest Collection Stylish Casual Loafer S...,Modern & Trendy Collection Combo Pack of 02 Sh...,"Casual , Partywear Sneakers Shoes For Men's An...",...,Comfortable & Smart Sneakers For Men,SM-675 Sneakers For Men,Black Sneaker For Men Sneakers For Men,Sneakers For Men,FUTURE RIDER PLAY ON Sneakers For Men,CR-1 Sneakers For Men,SM-671 Sneakers For Men,Sneakers For Men,High Top Casual Party Wear Boot Stylish Sneake...,None
Discount,77% off,60% off,80% off,59% off,80% off,76% off,70% off,60% off,81% off,54% off,...,73% off,50% off,56% off,60% off,66% off,60% off,33% off,60% off,73% off,60% off

## Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [64]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [65]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [66]:
# clicking using absolute xpath function
filter_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_btn
filter_btn.click()

In [67]:
# clicking using absolute xpath function
filter_btn1 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_btn1
filter_btn1.click()

In [68]:
#for extracting data from different pages :
start=0
end=2

#creating a dictionary for storing the information after scraping:
brand = []
price = []
des = []

for page in range(start,end):
    brands=driver.find_elements_by_class_name('product-brand')
    descp=driver.find_elements_by_xpath("//h4[@class='product-product']")
    prices=driver.find_elements_by_class_name('product-price')
    
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)
 
    nxt_button=driver.find_elements_by_xpath("//li[@class='pagination-next']")

In [69]:
# Data Frame of the Brand, Price and Discription:
myntra=pd.DataFrame()
myntra['Brand']=brand
myntra['Price']=price
myntra['Description']=des
myntra

,Brand,Price,Description
0,ALDO,Rs. 12999,Men Leather Driving Shoes
1,Reebok,Rs. 7999,Men Zig Dynamica 2.0 Running
2,Nike,Rs. 7995,Men Winflo 7 Running Shoes
3,ALDO,Rs. 9099Rs. 12999(30% OFF),Men Printed Sneakers
4,Tommy Hilfiger,Rs. 7739Rs. 8599(10% OFF),Men Cleated Leather Sneakers
...,...,...,...
95,Sole To Soul,Rs. 8900,High-Top Platform Heeled Boots
96,Sole To Soul,Rs. 9500,Suede High-Top Block Heeled Boots
97,ROSSO BRUNELLO,Rs. 8499,Printed PU Kitten Sandals
98,Heel & Buckle London,Rs. 7990,Men Formal Leather Derby
99,DAVINCHI,Rs. 7990,Solid Slip On Shoes

## Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [70]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [71]:
url=' https://www.amazon.in/'
driver.get(url)

In [72]:
# search laptop using id:
laptop=driver.find_element_by_id('twotabsearchtextbox')
laptop

In [73]:
# search bar:
laptop.send_keys('Laptop')

In [74]:
# search button using xpath:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_btn.click()

In [75]:
filter_btn= driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/div/label/i')
filter_btn.click()

In [76]:
title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
titles=[]

for i in title_tags:
    titles.append(i.text)
ti1=titles[:5]
ti1

#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_class_name("a-price-whole")


experience= []

for i in exp_tags:
    experience.append(i.text)
exp1=experience[:5]
exp1

rat_tags = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
rate = []

for i in rat_tags:
    rate.append(i.text)
rating1=rate[:5]
rating1
len(rating1),len(exp1),len(ti1)

(5, 5, 5)

In [77]:
# creat Data Frame of the job-title, job-location, company_name, experience_required: 
# Data scientist as DS
a =pd.DataFrame()
a['Product_title']=ti1
a['Price']=exp1
a['Rating']=rating1

a

                                       Product_title   Price Rating
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...  83,990
1  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...  75,490
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  57,490
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990
4  Mi Notebook Ultra 3.2K Resolution Display Inte...  77,499

In [78]:
clear_btn= driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[1]/span/a/span[2]')
clear_btn.click()

In [79]:
filter_btn1= driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[3]/ul/li[1]/span/a/div/label/i')
filter_btn1.click()

In [80]:
title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
titles=[]

for i in title_tags:
    titles.append(i.text)
ti2=titles[:5]
ti2

#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_class_name("a-price-whole")


experience= []

for i in exp_tags:
    experience.append(i.text)
exp2=experience[:5]
exp2

rat_tags = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
rate = []

for i in rat_tags:
    rate.append(i.text)
rating2=rate[:5]
rating2
len(rating2),len(exp2),len(ti2)

(5, 5, 5)

In [81]:
b =pd.DataFrame()
b['Product_title']=ti2
b['Price']=exp2
b['Rating']=rating2

b

                                       Product_title   Price Rating
0  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...  39,990
1  HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 inch(3...  47,790
2  HP 247 G8 Laptop (Athlon P-3045B HD/ 14" HD (3...  31,490
3  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  25,990
4  HP 15s 11th Gen Intel Core i5 15.6 inches FHD ...  53,990

In [82]:
rating=rating1+rating2
exp=exp1+exp2
ti=ti1+ti2
len(rating),len(exp),len(ti)

(10, 10, 10)

In [83]:
product =pd.DataFrame()
product['Product_title']=ti
product['Price']=exp
product['Rating']=rating

product

                                       Product_title   Price Rating
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...  83,990
1  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...  75,490
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  57,490
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990
4  Mi Notebook Ultra 3.2K Resolution Display Inte...  77,499
5  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...  39,990
6  HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 inch(3...  47,790
7  HP 247 G8 Laptop (Athlon P-3045B HD/ 14" HD (3...  31,490
8  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  25,990
9  HP 15s 11th Gen Intel Core i5 15.6 inches FHD ...  53,990

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [84]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [85]:
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [86]:
#for extracting data from different pages :
# search job using xpath:
job=driver.find_element_by_xpath('//a[@class="link jobs"]')
job

job.click()

In [87]:
# search job using xpath:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [88]:
# search job for Data scientist:
search_job.send_keys("Data scientist")

In [89]:
# search button by using xpath:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn.click()

In [90]:
# search job by xpath:
loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]')
loc.click()

In [91]:
# search job for noida location by absolute xpath:
location_check=driver.find_element_by_id("location_Noida")

In [92]:
location_check.click()

In [93]:
#creating a dictionary for storing the information after scraping:
#for each job we will scrape the company name, No. of days ago when job was posted, Rating of the company.

# for company name:
name = driver.find_elements_by_xpath("//a[@class='title noclick']")
comp_name = []
for i in name:
    comp_name.append(i.text)

    
# for when job posted:
day = driver.find_elements_by_xpath("//span[@class='body-small-l']")
no_of_days_ago = []

for i in day:
    no_of_days_ago.append(i.text)
    
    
# for rating
rate = driver.find_elements_by_xpath("//span[@class='body-small']")
rating=[]

for i in rate:
    rating.append(i.text)
del no_of_days_ago[1:20:2]

In [94]:
#get length:
print(len(comp_name),len(no_of_days_ago),len(rating))

10 10 10

In [95]:
# creat Data Frame of the company_name, No of days ago job was posted and rating: 
# Data analyst as DA
DA_ambitionbox=pd.DataFrame()
DA_ambitionbox['Company name']=comp_name
DA_ambitionbox['No of days ago job was posted']=no_of_days_ago
DA_ambitionbox['Rating']=rating
DA_ambitionbox

,Company name,No of days ago job was posted,Rating
0,"Excellent Opportunity For Freshers For AI/ML, ...",11d ago,3.9
1,HCL Hiring Data Scientist (Loc: Noida / Chenna...,12d ago,3.8
2,Data Scientist,12d ago,4.2
3,Data Scientist-II,23d ago,4.2
4,HCL Tech Opening - Senior Data Scientist,20d ago,3.8
5,Data Scientist,10d ago,3.9
6,Urgent Requirement || Data Scientist || Noida,27d ago,3.8
7,Data Scientist with NLP & Python,5d ago,3.7
8,Data Scientist,12d ago,3.7
9,Opportunity | Tavant India,1mon ago,4.0

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [96]:
#let's first connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

In [97]:
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [98]:
#for extracting data from different pages :
# get salary :
sal = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [99]:
#search for data scientist:
dsci=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
dsci.send_keys('Data Scientist')
dsci.click()

In [100]:
# find Company name, Number of salaries, Average salary, Minsalary, Max Salary.
# for company name
comp_name = []
name=driver.find_elements_by_class_name('name')
for i in name:
    comp_name.append(i.text.split('\n')[0])
noc=comp_name[0:10]
    
# for salary
sal = []
no_sal=driver.find_elements_by_class_name('name')
for i in no_sal:
    sal.append(i.text.split('\n')[-1])
sal
nos=sal[0:10]

In [101]:
# get min salary:
minimum_salary = []
minm=driver.find_elements_by_class_name('salary-values')
for i in minm:
    minimum_salary.append(i.text.split('\n')[1])
minimum_salary

['₹ 40.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 32.0L',
 '₹ 31.0L',
 '₹ 30.0L',
 '₹ 26.0L',
 '₹ 43.0L',
 '₹ 32.5L',
 '₹ 30.0L']

In [102]:
# get max salary
maximum_salary = []
maxm=driver.find_elements_by_class_name('salary-values')
for i in maxm:
    maximum_salary.append(i.text.split('\n')[-1])
maximum_salary

['₹ 40.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 32.0L',
 '₹ 31.0L',
 '₹ 30.0L',
 '₹ 26.0L',
 '₹ 43.0L',
 '₹ 32.5L',
 '₹ 30.0L']

In [103]:
# get average salary
average_salary = []
avr=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avr:
    average_salary.append(i.text)
average_salary

['₹ 26.6L',
 '₹ 23.3L',
 '₹ 21.2L',
 '₹ 21.1L',
 '₹ 21.1L',
 '₹ 20.1L',
 '₹ 19.6L',
 '₹ 19.4L',
 '₹ 19.1L',
 '₹ 18.7L']

In [104]:
# creat Data Frame of the company_name, No of salary, Minimum salary, Maximum salary, and Average salary: 
# Data analyst as DS
DS_salary=pd.DataFrame()
DS_salary['Company name']=noc
DS_salary['No of salary']=nos
DS_salary['Minimum']=minimum_salary
DS_salary['Maximum']=maximum_salary
DS_salary['Average']=average_salary
DS_salary

,Company name,No of salary,Minimum,Maximum,Average
0,Google,based on 10 salaries,₹ 40.0L,₹ 40.0L,₹ 26.6L
1,Microsoft Corporation,based on 233 salaries,₹ 45.0L,₹ 45.0L,₹ 23.3L
2,Goldman Sachs,based on 14 salaries,₹ 30.0L,₹ 30.0L,₹ 21.2L
3,Tekion,based on 20 salaries,₹ 32.0L,₹ 32.0L,₹ 21.1L
4,Flipkart,based on 55 salaries,₹ 31.0L,₹ 31.0L,₹ 21.1L
5,PayPal,based on 24 salaries,₹ 30.0L,₹ 30.0L,₹ 20.1L
6,Servicenow Software Development India,based on 49 salaries,₹ 26.0L,₹ 26.0L,₹ 19.6L
7,Amazon,based on 96 salaries,₹ 43.0L,₹ 43.0L,₹ 19.4L
8,Walmart,based on 80 salaries,₹ 32.5L,₹ 32.5L,₹ 19.1L
9,Arcesium,based on 51 salaries,₹ 30.0L,₹ 30.0L,₹ 18.7L